# EDA Insurance Data Analysis

## 1. Data Collection

### Dataset Description:

|**age**|	Age of the person|
|---|---|
|**sex**|	Female or Male|
|**BMI**|	BMI value to estimate an individual's health and fitness condition|
|**children**|	number of children (1,2,3,4, or 5)|
|**smoker**|	The person is a smoker or not|
|**region**|	Specifies the region (northeast, northwest, southeast, southwest)|
|**charges**|	the amount of insurance|

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# import dataset

df = pd.read_csv('./dataset/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# check the shape of the dataset

df.shape

(1338, 7)

In [4]:
# check the info of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# chech missing values

df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

We can see that there are no missing values in the dataset. However, there are some object type columns in the dataset. We need to convert them to categorical variables.

In [7]:
# first we need to check the unique values in categorical columns

df.sex.unique()

array(['female', 'male'], dtype=object)

In [8]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [9]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [10]:
# convert categorical data to numerical data

df['sex'] = df['sex'].map({'female': 0, 'male': 1})
df['smoker'] = df['smoker'].map({'no': 0, 'yes': 1})
df['region'] = df['region'].map({'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3})
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [12]:
# check for the duplicate values

df.duplicated().sum()

1

In [13]:
# get the index of the duplicate value

df[df.duplicated()].index

Index([581], dtype='int64')